.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.pokemon-image {
    width: 250px;
    object-fit: cover;
}

.show-pokemon {
    filter: brightness(1);
}

.no-show-pokemon {
    filter: brightness(0);
}